.small-image {
    height: 150px;
    opacity: 0.5; /* Set initial opacity to signify oldness */
    transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}

.small-image:hover {
    opacity: 1; /* Full opacity on hover */
}
